main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 60px 80px 0px 80px;

  @media (min-width: 768px) {
    gap: 50px 70px;
  }

  @media (min-width: 1400px) {
    max-width: 75vw;
    display: grid;
    grid-template-columns: 250px 250px 250px;
    gap: 50px 50px;
    justify-content: center;
  }
}