body{
  overflow-y: auto;
}
.basket.active {
	position: fixed;
	height: 100%;
	top: 80px;
	right: 0;
	overflow-y: auto;
	border-left: 1px solid #e7e7e7;
	transform: translateX(0);
	transition: 0.5s;
	padding-top: 29px;

	@media (min-width: 410px) {
		width: 100vw;
		transform: translateX(0%);
	}
	@media (min-width: 1200px) {
		width: 34.2vw;
		transform: translateX(0%);
	}
	@media (min-width: 1600px) {
		width: 26vw;
		transform: translateX(0%);
	}
	.content {
		background-color: rgb(255, 255, 255);
		height: 100vh;
	}
	.active__close {
		margin-left: 90%;
		background-color: inherit;
		border: none;
		cursor: pointer;
		margin-bottom: 29px;
	}

	.active__product {
		padding: 0 40px;
		border-bottom: 1px solid #e7e7e7;

		.active-list__name {
			margin-bottom: 30px;
		}
	}
}

.basket {
	position: fixed;
	height: 100vh;
	top: 80px;
	right: 0;
	transform: translateX(100%);
}
