header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 81px;
	padding: 0 30px 0 20px;
	border-bottom: 1px solid #cfcfcf;

	.logo {
		b {
			font-weight: 700;
			font-size: 30px;
		}

		font-weight: 400;
		font-size: 18px;
		line-height: 21px;
	}

	.menu {
		display: flex;
		width: 90px;
		justify-content: space-between;

		&__basket {
			cursor: pointer;
			background-color: inherit;
			border: none;
		}

		&__basket {
			position: relative;

			.basket-counter__product {
				color: white;
				display: flex;
				align-items: center;
				justify-content: center;

				position: absolute;
				top: -7px;
				right: -7px;
				width: 17px;
				height: 17px;
				background-color: #3366ff;
				border-radius: 50%;
			}
      .basket-counter__hidden {
        display: none;
      }
		}
	}
}
